.index {
    width:100vw;
    height:100vh;
    margin:-8px;
   background-image:url("./recipes/feast.jpg"); 
   background-size:cover;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    color:goldenrod; 
    text-align:center; 
    margin:auto;
}

.content {
    display:flex;
    text-align: center;
    list-style: none;
    height: 80vh;
    align-items:center;

 /*   border-style: solid;
    border-color:red;
    background-color: pink; */
}

.list-item {
    font-size:20px;
    flex: 1 1 auto;
    height:35%;

 /*   border-style: solid;
    border-color: orange;
    background-color: yellow; */
}

.index-mead {
    height:20vh;
    width:auto;
}

.index-bread {
    height: 30vh;
    width: auto;
}

.index-beast {
    height:20vh;
    width:auto;
}